.navbar {
    height: 100px;
    background-color: transparent;
    border: none;
    color: white;
    z-index: 100;
    transition: background-color 1s ease 0s;
}
.navbar-default .navbar-brand {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 200%;
    color: white;
}
.navbar-default .navbar-brand:hover {
    color: white;
    border: 0px solid white;
}
.navbar-default .navbar-nav > li > a {
    font-size: 17px;
    font-weight: bold;
    color: white;
    margin: 10px 5px 5px 5px;
    margin-right: 50px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
    color: #944743;
    border: 0px solid white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #C57ED3;
}
.navbar-default .navbar-toggle {
    border-color: #C57ED3;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #490D40;
}
.navbar-default .navbar-toggle .icon-bar {
    color: #C57ED3;
    background-color: #C57ED3;
}
.navbar-default .navbar-collapse.collapse.in ul {
    background-color: #490D40;
}
.navbar.solid {
    background-color: white;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand {
    color: #944743;
    transition: color 1s ease 0s;
    margin-right: 50px;
}
.navbar.solid .navbar-nav > li > a {
    font-size: 17px;
    font-weight: bold;
    color: black;
    transition: color 1s ease 0s;
    border-bottom: 3px solid transparent;
}
.navbar.solid .navbar-nav > li > a:hover, .navbar.solid .navbar-nav > li > a:active, .navbar.solid .navbar-nav > li > a:focus {
    border-bottom: 3px solid black;
}
.content-custom {
    background-color: white;
    color: black;
    height: 600px;
    text-align: center;
    margin-top: 150px;
}
.content-custom p {
    padding: 20px 80px;
}
.navbar-default .fix-dropdown-menu {
    margin-top: 20px;
    background-color: white;
    border-width: 1px 1px 1px;
    border-style: none solid solid;
    border-color: rgb(219, 219, 219) rgb(219, 219, 219) rgb(219, 219, 219);
    border-top: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
    width: 280px;
}
.navbar.solid .fix-dropdown-menu {
    margin-top: 20px;
    background-color: white;
    border-width: 1px 1px 1px;
    border-style: none solid solid;
    border-color: rgb(219, 219, 219) rgb(219, 219, 219) rgb(219, 219, 219);
    border-top: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
    width: 280px;
}
.navbar-default .fix-btn-dropdown {
    border: none;
    font-size: 17px;
    font-weight: bold;
    background-color: transparent;
    color: white;
}
.navbar.solid .fix-btn-dropdown {
    border: none;
    font-size: 17px;
    font-weight: bold;
    background-color: white;
    color: black;
}
.navbar-default .fix-btn-dropdown:hover, .fix-btn-dropdown:active, .fix-btn-dropdown:focus {
    background-color: white;
    color: black;
}
.navbar.solid .fix-btn-dropdown:hover, .fix-btn-dropdown:active, .fix-btn-dropdown:focus {
    background-color: white;
    color: black;
}
.navbar-default .fix-dropdown-item {
    font-size: 17px;
    font-weight: normal;
    color: rgb(118, 118, 118);
    line-height: 50px;
    background-color: rgb(255, 255, 255);
}
.navbar.solid .fix-dropdown-item {
    font-size: 17px;
    font-weight: normal;
    color: rgb(118, 118, 118);
    line-height: 50px;
    background-color: rgb(255, 255, 255);
}
.content {
    margin-top: 150px;
    background-color: white;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.button-login {
    background-color: #944743;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.button-login:hover {
    background-color: #944743;
}
.button-login-facebook {
    background-color: white;
    font-size: 16px;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    color: #000;
    border-width: 2px;
    border-style: solid;
    border-color: #3b5998;
}
.button-login-facebook:hover {
    background-color: #3b5998;
    font-size: 16px;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: #3b5998;
}
.button-login-google {
    background-color: white;
    font-size: 16px;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    color: #000;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(72, 72, 72);
}
.button-login-google:hover {
    background-color: rgb(72, 72, 72);
    font-size: 16px;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(72, 72, 72);
}
input[type=checkbox] {
    height: 18px;
    width: 18px;
    display: inline-block;
    text-align: center;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    border-radius: 2px;
    overflow: hidden;
    margin-top: 10px;
}
input[type=checkbox]:checked {
    color: rgb(255, 255, 255);
    background: rgb(0, 132, 137);
}
.checkbox-custom:checked {
    color: rgb(255, 255, 255) !important;
    background: rgb(0, 132, 137) !important;
}
.link-custom {
    color: rgb(0, 132, 137);
}
.link-custom:hover {
    color: rgb(0, 132, 137);
}
.modal-content-custom {
    width: 750px;
    margin-top: 25%;
}
.modal-body-custom {
    padding-bottom: 30px;
}
.modal-title {
    font-size: 200%;
    color: rgb(72, 72, 72);
}
.verify-register {
    color: rgb(72, 72, 72);
    font-weight: normal;
    letter-spacing: normal;
    font-size: 15px;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}
.profile {
    background-color: white;
    margin-top: 20px;
    position: relative;
    margin: 0px -150px 0px -150px;
}

.profile-usermenu {
    margin: 0px -15px 0px -15px;
}
.sidebar-card {
    border: none;
    width: 22rem;
}
.sidebar-header {
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}
.sidebar-footer {
    margin-top: 20px;
}
.btn-show-profile {
    margin-left: 15px;
    width: 100%;
}
.btn-edit-profile {
    margin-left: 15px;
    width: 100%;
    color: #944743;
    border-color: #944743;
}
.sidebar-item {
    border: none;
    height: 50px;
    padding: 20px;
    font-size: 20px;
}
.profile-edit-form {
    margin: 0px -15px 0px -20px;
}
.profile-edit-form-header {
    color: black;
    font-size: 20px;
}
