.navbar {
    height: 100px;
    background-color: transparent;
    border: none;
    color: white;
    z-index: 100;
    transition: background-color 1s ease 0s;
}
.navbar-default .navbar-brand {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 200%;
    color: white;
}
.navbar-default .navbar-brand:hover {
    color: white;
    border: 0px solid white;
}
.navbar-default .navbar-nav > li > a {
    font-size: 17px;
    font-weight: bold;
    color: white;
    margin: 10px 5px 5px 5px;
    margin-right: 50px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
    color: #bc3a33;
    border: 0px solid white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #C57ED3;
}
.navbar-default .navbar-toggle {
    border-color: #C57ED3;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #490D40;
}
.navbar-default .navbar-toggle .icon-bar {
    color: #C57ED3;
    background-color: #C57ED3;
}
.navbar-default .navbar-collapse.collapse.in ul {
    background-color: #490D40;
}
.navbar.solid {
    background-color: white;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand {
    color: #bc3a33;
    transition: color 1s ease 0s;
    margin-right: 50px;
}
.navbar.solid .navbar-nav > li > a {
    font-size: 17px;
    font-weight: bold;
    color: black;
    transition: color 1s ease 0s;
    border-bottom: 3px solid transparent;
}
.navbar.solid .navbar-nav > li > a:hover, .navbar.solid .navbar-nav > li > a:active, .navbar.solid .navbar-nav > li > a:focus {
    border-bottom: 3px solid black;
}
.content-custom {
    background-color: white;
    color: black;
    height: 600px;
    text-align: center;
    margin-top: 150px;
}
.content-custom p {
    padding: 20px 15px;
}
.navbar-default .fix-dropdown-menu {
    margin-top: 20px;
    background-color: white;
    border-width: 1px 1px 1px;
    border-style: none solid solid;
    border-color: rgb(219, 219, 219) rgb(219, 219, 219) rgb(219, 219, 219);
    border-top: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
    width: 280px;
}
.navbar.solid .fix-dropdown-menu {
    margin-top: 20px;
    background-color: white;
    border-width: 1px 1px 1px;
    border-style: none solid solid;
    border-color: rgb(219, 219, 219) rgb(219, 219, 219) rgb(219, 219, 219);
    border-top: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
    width: 280px;
}
.navbar-default .fix-btn-dropdown {
    border: none;
    font-size: 17px;
    font-weight: bold;
    background-color: transparent;
    color: white;
}
.navbar.solid .fix-btn-dropdown {
    border: none;
    font-size: 17px;
    font-weight: bold;
    background-color: white;
    color: black;
}
.navbar-default .fix-btn-dropdown:hover, .fix-btn-dropdown:active, .fix-btn-dropdown:focus {
    background-color: white;
    color: black;
}
.navbar.solid .fix-btn-dropdown:hover, .fix-btn-dropdown:active, .fix-btn-dropdown:focus {
    background-color: white;
    color: black;
}
.navbar-default .fix-dropdown-item {
    font-size: 17px;
    font-weight: normal;
    color: rgb(118, 118, 118);
    line-height: 50px;
    background-color: rgb(255, 255, 255);
}
.navbar.solid .fix-dropdown-item {
    font-size: 17px;
    font-weight: normal;
    color: rgb(118, 118, 118);
    line-height: 50px;
    background-color: rgb(255, 255, 255);
}
.content {
    margin-top: 150px;
    background-color: white;
}
.show-room-content {
    margin-top: 100px;
    background-color: white;
}
.custom-line {
    margin-top: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #dee2e6;
}
.custom-row-show-room {
    margin-left: -130px;
    margin-right: -130px;
}
.fix-form-checkin-checkout {
    border: 1px solid #EBEBEB;
}
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.button-login {
    background-color: #bc3a33;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.button-login:hover {
    background-color: #bc3a33;
}
.button-login-facebook {
    background-color: white;
    font-size: 16px;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    color: #000;
    border-width: 2px;
    border-style: solid;
    border-color: #3b5998;
}
.button-login-facebook:hover {
    background-color: #3b5998;
    font-size: 16px;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: #3b5998;
}
.button-login-google {
    background-color: white;
    font-size: 16px;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    color: #000;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(72, 72, 72);
}
.button-login-google:hover {
    background-color: rgb(72, 72, 72);
    font-size: 16px;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(72, 72, 72);
}
input[type=checkbox] {
    height: 18px;
    width: 18px;
    display: inline-block;
    text-align: center;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    border-radius: 2px;
    overflow: hidden;
    margin-top: 10px;
}
input[type=checkbox]:checked {
    color: rgb(255, 255, 255);
    background: rgb(0, 132, 137);
}
.checkbox-custom:checked {
    color: rgb(255, 255, 255) !important;
    background: rgb(0, 132, 137) !important;
}
.link-custom {
    color: rgb(0, 132, 137);
}
.link-custom:hover {
    color: rgb(0, 132, 137);
}
.modal-content-custom {
    width: 750px;
    margin-top: 25%;
}
.modal-body-custom {
    padding-bottom: 30px;
}
.modal-title {
    font-size: 200%;
    color: rgb(72, 72, 72);
}
.verify-register {
    color: rgb(72, 72, 72);
    font-weight: normal;
    letter-spacing: normal;
    font-size: 15px;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}
.profile {
    background-color: white;
    margin-top: 20px;
    position: relative;
    margin: 0px -150px 0px -150px;
}

.profile-usermenu {
    margin: 0px -15px 0px -15px;
}
.sidebar-card {
    border: none;
    width: 22rem;
}
.sidebar-header {
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}
.sidebar-footer {
    margin-top: 20px;
}
.btn-show-profile {
    margin-left: 15px;
    width: 100%;
}
.btn-edit-profile {
    margin-left: 15px;
    width: 100%;
    color: #bc3a33;
    border-color: #bc3a33;
}
.sidebar-item {
    border: none;
    height: 50px;
    padding: 20px;
    font-size: 20px;
}
.profile-edit-form {
    margin: 0px -15px 0px -20px;
}
.profile-edit-form-header {
    color: black;
    font-size: 20px;
}
.reservation-table td {
    width: 100%;
    border: 1px solid #dce0e0;
    padding: 10px;
}
.wide {
    width: 100%;
}
.price_tag {
  background-color: #606567;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}
.sub-banner-button-area-1 {
    position: absolute;
    left: 24px;
    bottom: 24px;
    width: 100px;
    height: 50px;
}
.sub-banner-button-area-2 {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 200px;
    height: 50px;
}
.sub-banner-button-area-2-child {
    width: 90px;
    height: 50px;
}
.sub-banner-button-1 {
    color: #484848;
    font-size: 17px;
    font-weight: 600;
}
.text-line-through {
    text-decoration: line-through
}
.liked {
    color: #bc3a33 !important;
}
#wrapper { 
  width: 80%;
  margin:0 auto;
}

#sidebar {
  float:right;
  width:30%;
}

#sidebar #widget {
  width:340px;
  height: 600px;
  margin-bottom:10px;
  border-bottom:1px solid #ccc;
}

#article {
  width:50%;
}
.map_price {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #00A699;
}

.discovery-card {
  background-size: cover;
  background-position: center;
  height: 326px;
}

.va-container {
  display: table;
  width: 100%;
  height: 100%;
}

.va-middle {
  color: #fff !important;
  vertical-align: middle;
  display: table-cell;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 20px;
    margin-right: 80px;
    border-width: 1px 1px 1px;
    border-style: none solid solid;
    border-color: rgb(219, 219, 219) rgb(219, 219, 219) rgb(219, 219, 219);
    border-top: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
    width: 400px;
    max-height: 550px;
}
.show {display: block;}
.dropdown-item-noti {
    font-size: 17px;
    font-weight: normal;
    color: rgb(118, 118, 118);
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #dee2e6;
    padding: 0px;
    height: 100px;
}
.dropdown-item-noti-container {
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
}
.dropdown-item-noti-content {
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dropdown-item-noti-header {
    line-height: 40px;
    background-color: white;
    border-bottom: 1px solid #dee2e6;
}
.noti-header-content {
    margin-left: 10px;
    margin-right: 10px;
}
.noti-header-left {
    font-size: 17px;
    font-weight: bold;
    color: black;
    padding: 0px;
}
.noti-header-right {
    font-size: 17px;
    font-weight: bold;
    color: #bc3a33;
    text-align: right;
}
.noti-item-img {
    float: left;
    margin-right: 15px;
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
}
.noti-item-content {
    max-width: 300px!important;
    height: 80px!important;
}
.noti-item-img-resize {
    width: 80px;
    height: 80px;
}
.noti-item-content-type-message {
    font-weight: normal;
    width: 250px;
    color: #bc3a33;
}
.noti-item-content-message {
    font-weight: bold;
    width: 250px;
    height: 40px;
}
.noti-item-content-time {
    color: #90949c;
    position: absolute;
    bottom: 0px;
}
.noti-item-content-message-title {
    font-weight: bold;
}
.custom-navbar {
    margin-bottom: 12px;
}

.custom-search {
    float: right;
    margin-left: 119px !important;
    font-weight: bold;
    box-shadow: 0 0 4px grey;
    border-radius: 25px !important;
}

.search-tran {
    color: #ffff;
    background-color: transparent;
}